.cardImg{
    height: 350px;
}

.category-overlay {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .category-name {
    background-color: #002379;
    padding: 5px 2px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #e04923;
  }
  /* show details button*/
.custom-btn {
    border: 2px solid transparent; /* Initial transparent border */
    border-radius: 15px;
    text-decoration: none;
    border-color: #A0153E; /* Outline color */
    color: #000000; /* Text color */
    padding: 0.5rem 1rem; /* Padding for the button */
    background-color: transparent; /* Transparent background */
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    /* border-color: #007bff; */
     color: #000000; 
    background-color: #A0153E; /* Change background color on hover/focus */
  }
  