 <footer class="footer" style="background-color: #0f0f35;border-radius:15px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 align-content-center">
          <img src="/assets/Images/grenta-store-high-resolution-logo-transparent.png" class="LogoImage"/>
        </div>
        <div class="col-md-4 text-light">
          <h3 class="mx-lg-4 py-2">Partners</h3>
          <div class="row">
              <div class="col-md-12 my-2">
                <img src="/assets/Images/adidas.png" class="partnerimg"/>
                <img src="/assets/Images/seria a.png" class="partnerimg"/>
                <img src="/assets/Images/castore.png" class="partnerimg"/>
              </div>
              <div class="col-md-12 my-1">
                <img src="/assets/Images/nike.png" class="partnerimg"/>
                <img src="/assets/Images/pirelli.png" class="partnerimg"/>
                <img src="/assets/Images/premeir league.png" class="partnerimg"/>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="mx-lg-4 py-2 text-light">Contact Us</h3>
          <p class="text-light">
            <i class="bi bi-envelope-at-fill text-light fs-5 mx-2"></i>
            <span style="color: #c23168;">ProSaadhany99&#64;gmail.com</span>
          </p>
          <p class="text-light">
            <i class="bi bi-telephone-inbound-fill text-light fs-5 mx-2"></i>
            <span style="color: #c23168;">01122913175</span>
          </p>
          <p class="text-light">
            <i class="bi bi-geo-alt-fill text-light fs-5 mx-2"></i>
            <span style="color: #c23168;">Benha, Qalyoubia, Egypt</span>
          </p>
        </div>
      </div>
    </div>
  </footer>
