   .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; 
  }
  
  .image {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .image img {
    width: 100%;
    min-height: 250px;
    border-radius: 5%;
  }