.form-group {
    position: relative;
    margin-top: 1.5em; /* To give space for the label */
  }
  
  .input-label {
    position: absolute;
    top: -0.75em; /* Adjust as needed to position the label */
    left: 1em; /* Align with the input text */
    background: white; /* To cover the input border */
    padding: 0 0.25em; /* Space around the text */
    font-size: 1em; /* Adjust font size if needed */
    font-weight: bold;
    color: #a01047; /* Label color */
  }
  
  .form-control {
    padding-top: 1.5em; /* Add space for the label inside the input */
  }
  